<div class="container">
    <h1 class="text-center text-primary">Criterios de Aceptación</h1>
        <hr>
    <div class="panel mt-2">
        <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Medida</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let criterioAceptacion of criteriosAceptacion">
                    <td>{{ criterioAceptacion.descripcion }}</td>
                    <td>{{ criterioAceptacion.medida }}</td>
                    <td>{{ criterioAceptacion.valor }}</td>
                    <td> <button (click)="eliminarCriterioAceptacion(criterioAceptacion.idCalendario, criterioAceptacion.id)">-</button> </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="row">
        <div class="w-100">   
            <div class="m-2 float-right">
                <button type="button" class="btn btn-success m-2" [routerLink]="['/registrocriterioaceptacion', idCalendario]"> 
                    Registrar
                </button>
                <button type="button" class="btn btn-info m-2" [routerLink]="['/calendario']"> 
                    Regresar a Calendario
                </button>
            </div>   
        </div>
         
    </div>
</div>
