<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="form-inline md-form form-sm active-cyan active-cyan-2">
                <input class="form-control form-control-sm ml-3 mr-3 w-75" type="text" placeholder="Buscar" aria-label="Buscar" (keyup)="onKey($event)">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row form-group">
                <label for="selectLineaCarreras" class="col-md-6 control-label font-weight-bold mt-1"> Linea de Carrera:</label>
                <select class="form-control col-md-6" #selectedValue name="selectLineaCarreras" id="selectLineaCarreras" [(ngModel)]="selectedLineaCarreraId" (ngModelChange)="lineaCarreraSelected($event)">
                    <option *ngFor="let lineaCarrera of lineaCarreras" [value]="lineaCarrera.id">
                        {{lineaCarrera.descripcion}}
                    </option>
                </select>
            </div>
            <div class="row form-group">
                <label for="selectSedes" class="col-md-6 control-label font-weight-bold mt-1"> Sede:</label>
                <select class="form-control col-md-6" #selectedValue name="selectSedes" id="selectSedes" [(ngModel)]="selectedSedeId" (ngModelChange)="sedeSelected($event)">
                    <option *ngFor="let sede of sedes" [value]="sede.id">
                        {{sede.descripcion}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn btn-success" style="width: 220px" (click)="generar()">Asignación Automática</button>
            <button class="btn btn-info mt-3" style="width: 220px" (click)="generarDesasignacion()">Desasignación Automática</button>
        </div>
    </div>
    <div class="row" *ngIf="sherpas != null && sherpas.length > 0">
        <div class="col-md-4 border">
            <ul class="list-items">
                <li *ngFor="let sherpa of sherpas" [class.selected]="sherpa === selectedSherpa" (click)="onSelect(sherpa)">
                    <span class="badge">{{sherpa.id}}</span> {{sherpa.nombre}} {{sherpa.apellido}}
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <app-sherpa-detalle (desasignarEmitter)="desasignarEmitter($event)" *ngIf="sherpa" [sherpa]="sherpa"></app-sherpa-detalle>
        </div>
    </div>
</div>