<div class="panel panel-default col-xl-6 col-lg-8 col-md-10 col-sm-12 mx-auto text-center form p-4">
    <form [formGroup]="criterioAceptacionForm" (ngSubmit)="registrarCriterioAceptacion()" class="m-3">
        <h1 class="text-center text-primary">Criterios de Aceptación</h1>
        <hr>

        <!--descripción-->
        <div class="form-group" [ngClass]="{'has-error': criterioAceptacionForm.get('descripcion')?.errors && criterioAceptacionForm.get('descripcion')?.touched}">
            <textarea class="form-control" placeholder="Ingresa la descripción" formControlName="descripcion"></textarea>
            <span class="help-block" *ngIf="criterioAceptacionForm.get('descripcion').hasError('required') && criterioAceptacionForm.get('descripcion').touched">
                Descripción es requerido
            </span>
            <span class="help-block" *ngIf="criterioAceptacionForm.get('descripcion').hasError('minlength') && criterioAceptacionForm.get('descripcion').touched">
                El título debe tener al menos 4 caracteres de longitud
            </span>
            <span class="help-block" *ngIf="criterioAceptacionForm.get('descripcion').hasError('maxlength') && criterioAceptacionForm.get('descripcion').touched">
                El título debe tener como máximo 400 caracteres de longitud
            </span>
        </div>

        <!--medida-->
        <div class="form-group" [ngClass]="{'has-error': criterioAceptacionForm.get('titulo')?.errors && criterioAceptacionForm.get('titulo')?.touched}">
            <input type="text" class="form-control" placeholder="Ingresa la medida" formControlName="medida" />
        </div>

        <!--valor-->
        <div class="form-group" [ngClass]="{'has-error': criterioAceptacionForm.get('valor')?.errors && criterioAceptacionForm.get('valor')?.touched}">
            <input type="number" class="form-control" placeholder="Ingresa el valor númerico" formControlName="valor" />
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>