<div class="container">
    <div class="panel-body">
        <section class="row text-center mt-4">
            <div class="row form-group col-md-4">
                <label for="selectCalendarios" class="col-md-5 control-label font-weight-bold mt-1"> Temporada:</label>
                <select class="form-control col-md-6" #selectedValue name="selectCalendarios" id="selectCalendarios" [(ngModel)]="selectedCalendarioId" (ngModelChange)="calendarioSelected($event)">
                <option *ngFor="let calendario of calendarios" [value]="calendario.id">
                    {{calendario.temporada}}
                </option>
            </select>
            </div>
            <div class="row form-group  col-md-4">
                <label for="fechaInicio" class="col-md-5 control-label font-weight-bold mt-1"> Fecha Inicio:</label>
                <input class="form-control col-md-6" name="fechaInicio" id="fechaInicio" [(ngModel)]="selectedFechaInicio" [disabled]="true" />
            </div>
            <div class="row form-group">
                <label for="fechaFinal" class="col-md-5 control-label font-weight-bold mt-1"> Fecha Final:</label>
                <input class="form-control col-md-6" name="fechaFinal" id="fechaFinal" [(ngModel)]="selectedFechaFinal" [disabled]="true" />
            </div>
        </section>
        <section class="row text-center mt-4">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                        Previo
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                        Hoy
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                        Siguiente
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                        Mes
                    </div>
                    <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                        Semana
                    </div>
                    <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                        Dia
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)" [locale]="locale" [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)" [locale]="locale">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)" [locale]="locale">
                </mwl-calendar-day-view>
            </div>
        </section>
    </div>
    <!-- Criterios de Aceptación-->
    <app-criterioaceptacion (eliminarEmitter)="eliminarCriterioAceptacionEmitter($event)" *ngIf="criteriosAceptacion" [criteriosAceptacion]="criteriosAceptacion"></app-criterioaceptacion>

    <div class="float-right">
        <button type="button" class="btn btn-primary mt-2 mb-2" [routerLink]="['/evento', selectedCalendarioId]" routerLinkActive="router-link-active" [disabled]="selectedCalendarioId == undefined"> 
            Agregar Evento
        </button>
        <button type="button" class="btn btn-info ml-2 mt-2 mb-2" [routerLink]="['/registrocriterioaceptacion', selectedCalendarioId]" routerLinkActive="router-link-active" [disabled]="selectedCalendarioId == undefined"> 
            Agregar Criterios de Aceptación
        </button>
    </div>
</div>