<div class="panel panel-default border p-4">
    <form [formGroup]="leccionMaterialForm" (ngSubmit)="registrarLeccionMaterial()" class="m-3">
        <h1 class="text-center text-primary">Crear Presentación</h1>
        <hr>

        <div class="form-group" [ngClass]="{'has-error': leccionMaterialForm.get('titulo').errors && leccionMaterialForm.get('titulo').touched}">
            <label for="titulo" class="font-weight-bold">Titulo: </label>
            <input type="text" class="form-control" placeholder="Ingresa el titulo" formControlName="titulo" />
            <span class="help-block" *ngIf="leccionMaterialForm.get('nombre').hasError('required') && leccionMaterialForm.get('titulo').touched">
          Titulo es requerido
      </span>
            <span class="help-block" *ngIf="leccionMaterialForm.get('titulo').hasError('minlength') && leccionMaterialForm.get('titulo').touched">
          El titulo debe tener al menos 4 caracteres de longitud
      </span>
            <span class="help-block" *ngIf="leccionMaterialForm.get('titulo').hasError('maxlength') && leccionMaterialForm.get('titulo').touched">
          El titulo debe tener como máximo 200 caracteres de longitud
      </span>
        </div>

        <div class="form-group" [ngClass]="{'has-error': leccionMaterialForm.get('contenidoTexto').errors && leccionMaterialForm.get('contenidoTexto').touched}">
            <label for="contenidoTexto" class="font-weight-bold">Contenido: </label>
            <textarea class="form-control" placeholder="Ingresa la descripción" formControlName="contenidoTexto"></textarea>
            <span class="help-block" *ngIf="leccionMaterialForm.get('contenidoTexto').hasError('required') && leccionMaterialForm.get('contenidoTexto').touched">
              Contenido es requerido
            </span>
        </div>

        <div class="row text-center col-md-12">
            <button type="submit" class="btn btn-primary col-md-3">Guardar</button>
            <button type="button" class="btn btn-secondary ml-2 col-md-3" [routerLink]="['/actualizar-leccion-material', idEtapa, idCurso, idLeccion]">Cancelar</button>
        </div>

    </form>
</div>