<div class="container row p-4">
    <section class="col-md-3 text-center">
        <h4 class="pb-2"> {{leccionEscalador.nombre}} </h4>
        <img src="{{leccionEscalador.cursoImagenUrl}}" class="w-100 rounded-circle" alt="{{leccionEscalador.cursoNombre}}">
    </section>
    <section class="col-md-9">
      <quill-view-html *ngIf="htmlContent!=undefined" [content]="htmlContent" theme="snow"></quill-view-html>
        <div>
            <button class="btn btn-success w-100 mt-2" [routerLink]="['/realizar-examen', idParticipante, idEtapa, idCurso, idLeccion]">Realizar Examen</button>
        </div>
    </section>
</div>