<div class="panel panel-default border p-4">
    <div class="panel-body">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="form-inline md-form form-sm active-cyan active-cyan-2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 mr-3 w-75" type="text" placeholder="Buscar" aria-label="Buscar" (keyup)="onKey($event)">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row form-group">
                    <label for="selectLineaCarreras" class="col-md-6 control-label font-weight-bold mt-1"> Linea de Carrera:</label>
                    <select class="form-control col-md-6" #selectedValue name="selectLineaCarreras" id="selectLineaCarreras" [(ngModel)]="selectedLineaCarreraId" (ngModelChange)="lineaCarreraSelected($event)">
                        <option *ngFor="let lineaCarrera of lineaCarreras" [value]="lineaCarrera.id">
                            {{lineaCarrera.descripcion}}
                        </option>
                    </select>
                </div>
                <div class="row form-group">
                    <label for="selectNiveles" class="col-md-6 control-label font-weight-bold mt-1"> Nivel:</label>
                    <select class="form-control col-md-6" #selectedValue name="selectNiveles" id="selectNiveles" [(ngModel)]="selectedNivelId" (ngModelChange)="nivelSelected($event)">
                        <option *ngFor="let nivel of niveles" [value]="nivel.id">
                            {{nivel.descripcion}}
                        </option>
                    </select>
                </div>
                <div class="row form-group">
                    <label for="selectEtapas" class="col-md-6 control-label font-weight-bold mt-1"> Etapa:</label>
                    <select class="form-control col-md-6" #selectedValue name="selectEtapas" id="selectEtapas" [(ngModel)]="selectedEtapaId" (ngModelChange)="etapaSelected($event)">
                        <option *ngFor="let etapa of etapas" [value]="etapa.id">
                            {{etapa.nombre}}
                        </option>
                    </select>
                </div>
                <div class="row form-group">
                    <label for="selectCursos" class="col-md-6 control-label font-weight-bold mt-1"> Curso:</label>
                    <select class="form-control col-md-6" #selectedValue name="selectCursos" id="selectCursos" [(ngModel)]="selectedCursoId" (ngModelChange)="cursoSelected($event)">
                        <option *ngFor="let curso of cursos" [value]="curso.id">
                            {{curso.nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <button id="btn-agregar-curso" mat-mini-fab color="warn" [routerLink]="['/registrar-leccion']" routerLinkActive="router-link-active">
                  <strong>+</strong>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Curso</th>
                    <th>Idioma</th>
                    <th>Descripción Etapa</th>
                    <th>Etapa</th>
                    <th>Nivel</th>
                    <th>Linea Carrera</th>
                    <th>Puntaje</th>
                    <th>Dificultad</th>
                    <th>Autor</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let leccion of lecciones">
                    <td>{{ leccion.nombre }}</td>
                    <td>{{ leccion.cursoDescripcion }}</td>
                    <td>{{ leccion.idiomaDescripcion }}</td>
                    <td>{{ leccion.etapaDescripcion }}</td>
                    <td>{{ leccion.nivelDescripcion }}</td>
                    <td>{{ leccion.lineaCarreraDescripcion }}</td>
                    <td>{{ leccion.puntaje }}</td>
                    <td>{{ leccion.dificultadDescripcion }}</td>
                    <td>{{ leccion.autor }}</td>
                    <td> <button [routerLink]="['/editar-leccion', leccion.idEtapa, leccion.idCurso, leccion.id]" routerLinkActive="router-link-active">*</button> </td>
                    <td> <button (click)="eliminarLeccion(leccion.idEtapa, leccion.idCurso, leccion.id)">-</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>