<div class="container">
    <div class="row p-2">
        <div class="col-md-8">
            <p class="p-2">
                <ngb-progressbar type="success" textType="white" [value]="porcentajeProgreso"></ngb-progressbar>
            </p>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary">
            Vidas <span class="badge badge-light"> {{examen.vidasRestante}} </span>
           </button>
        </div>
        <div class="col-md-2">
            <p>{{tiempoRestanteTime}}</p>
        </div>
    </div>
    <div class="p-2">
        <div class="p-4">
            <b> {{pregunta.numeroOrden}}.- {{pregunta.descripcionPregunta}}</b>
        </div>
        <div class="pl-4">
            <ul *ngFor="let respuesta of pregunta.respuestas">
                <li>
                    <label for="respuesta_{{respuesta.id}}">
                    <input id="respuesta_{{respuesta.id}}" [value]='respuesta.id' type="radio" name="enums" [(ngModel)]="idRespuestaSelected">
                    {{respuesta.descripcion}}
                </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="row p-4">
        <button class="btn btn-success" *ngIf="examen.numeroPreguntaActual != examen.totalPreguntas" (click)='siguiente()'>Siguiente</button>
        <button class="btn btn-success" *ngIf="examen.numeroPreguntaActual == examen.totalPreguntas" (click)='finalizar()'>Finalizar</button>
    </div>
</div>