<div class="container">
    <div class="row p-4">
        <div class="col-md-8">
            <p class="p-2">
                <ngb-progressbar type="success" textType="white" [value]="porcentajeProgreso"></ngb-progressbar>
            </p>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary">
            Vidas <span class="badge badge-light"> {{examen.vidasRestante}} </span>
           </button>
        </div>
        <div class="col-md-2">
            <p>{{tiempoRestanteTime}}</p>
        </div>
    </div>
    <div class="row p-4">
        <p> {{pregunta.numeroOrden}}.- {{pregunta.descripcionPregunta}}</p>
        <div *ngFor="let respuesta of pregunta.respuestas">
            <label for="respuesta_{{respuesta.id}}">
          <input id="respuesta_{{respuesta.id}}" [value]='respuesta.id' type="radio" name="enums" [(ngModel)]="respuestaSelected">
          {{respuesta.descripcion}}
        </label>
        </div>
        <button (click)='next()'>Siguiente</button>
    </div>
</div>