<div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 mx-auto text-center form p-4">
    <form [formGroup]="eventoForm" (ngSubmit)="registrarEvento()" class="m-3 justify-content-center">
        <h1 class="text-center text-primary">Evento</h1>
        <hr>

        <!--título-->
        <div class="form-group" [ngClass]="{'has-error': eventoForm.get('titulo').errors && eventoForm.get('titulo').touched}">
            <input type="text" class="form-control" placeholder="Ingresa el título" formControlName="titulo" />
            <span class="help-block" *ngIf="eventoForm.get('titulo').hasError('required') && eventoForm.get('titulo').touched">
          Título es requerido
        </span>
            <span class="help-block" *ngIf="eventoForm.get('titulo').hasError('minlength') && eventoForm.get('titulo').touched">
           El título debe tener al menos 4 caracteres de longitud
        </span>
            <span class="help-block" *ngIf="eventoForm.get('titulo').hasError('maxlength') && eventoForm.get('titulo').touched">
           El título debe tener como máximo 100 caracteres de longitud
        </span>
        </div>

        <!--descripción-->
        <div class="form-group" [ngClass]="{'has-error': eventoForm.get('descripcion').errors && eventoForm.get('descripcion').touched}">
            <textarea class="form-control" placeholder="Ingresa la descripción" formControlName="descripcion"></textarea>
            <span class="help-block" *ngIf="eventoForm.get('descripcion').hasError('required') && eventoForm.get('descripcion').touched">
            Descripción es requerido
        </span>
            <span class="help-block" *ngIf="eventoForm.get('descripcion').hasError('minlength') && eventoForm.get('descripcion').touched">
            El título debe tener al menos 4 caracteres de longitud
        </span>
            <span class="help-block" *ngIf="eventoForm.get('descripcion').hasError('maxlength') && eventoForm.get('descripcion').touched">
            El título debe tener como máximo 400 caracteres de longitud
        </span>
        </div>

        <!-- fecha inicio -->
        <div class="form-group" [ngClass]="{'has-error': eventoForm.get('fechaInicio').touched && eventoForm.get('fechaInicio').hasError('required')}">
            <label for="fechaInicio">Fecha Inicio: </label>
            <input class="form-control" type="text" bsDatepicker [bsConfig]="bsConfig" placeholder="Selecciona la fecha de inicio" formControlName="fechaInicio">
            <span class="help-block" *ngIf="eventoForm.get('fechaInicio').touched && eventoForm.get('fechaInicio').hasError('required')">
            La fecha de inicio es requerido
        </span>
        </div>
        <!-- hora inicio -->
        <div class="form-group" [ngClass]="{'has-error': eventoForm.get('horaInicio').touched && eventoForm.get('horaInicio').hasError('required')}">
            <timepicker formControlName="horaInicio"></timepicker>
            <span class="help-block" *ngIf="eventoForm.get('horaInicio').touched && eventoForm.get('horaInicio').hasError('required')">
            La hora de inicio es requerido
        </span>
        </div>

        <!-- fecha final -->
        <div class="form-group" [ngClass]="{'has-error': eventoForm.get('fechaFinal').touched && eventoForm.get('fechaFinal').hasError('required')}">
            <label for="fechaFinal">Fecha Final: </label>
            <input class="form-control" type="text" bsDatepicker [bsConfig]="bsConfig" placeholder="Selecciona la fecha final" formControlName="fechaFinal">
            <span class="help-block" *ngIf="eventoForm.get('fechaFinal').touched && eventoForm.get('fechaFinal').hasError('required')">
            La fecha final es requerida
        </span>
        </div>
        <!-- hora final -->
        <div class="form-group" [ngClass]="{'has-error': eventoForm.get('horaFinal').touched && eventoForm.get('horaFinal').hasError('required')}">
            <timepicker formControlName="horaFinal"></timepicker>
            <span class="help-block" *ngIf="eventoForm.get('horaInicio').touched && eventoForm.get('horaInicio').hasError('required')">
            La hora final es requerido
        </span>
        </div>

        <!--color primario-->
        <div class="form-group" [ngClass]="{'has-error': eventoForm.get('colorPrimario').errors && eventoForm.get('colorPrimario').touched}">
            <label for="colorPrimario">Color Primario: </label>
            <input type="color" formControlName="colorPrimario" class="ml-2">
            <span class="help-block" *ngIf="eventoForm.get('colorPrimario').hasError('required') && eventoForm.get('colorPrimario').touched">
            El color primario es requerido
        </span>
        </div>
        <div class="row text-center col-md-12">
            <button type="submit" class="btn btn-primary col-md-3">Guardar</button>
            <button type="button" class="btn btn-secondary ml-2 col-md-3" [routerLink]="['/calendario']">Cancelar</button>
        </div>
    </form>
</div>