<div class="panel panel-default border p-4">
    <form [formGroup]="form" (ngSubmit)="actualizarRespuesta()" class="m-3">
        <h1 *ngIf="!isEditForm" class="text-center text-primary">Crear Respuesta</h1>
        <h1 *ngIf="isEditForm" class="text-center text-primary">Editar Pregunta</h1>
        <hr>

        <div class="form-group" [ngClass]="{'has-error': form.get('descripcion').errors && form.get('descripcion').touched}">
            <label for="descripcion" class="font-weight-bold">Contenido: </label>
            <textarea class="form-control" placeholder="Ingrese la descripción" formControlName="descripcion"></textarea>
            <span class="help-block" *ngIf="form.get('descripcion').hasError('required') && form.get('descripcion').touched">
            Contenido es requerido
          </span>
            <span class="help-block" *ngIf="form.get('descripcion').hasError('minlength') && form.get('descripcion').touched">
            La respuesta debe tener al menos 4 caracteres de longitud
          </span>
            <span class="help-block" *ngIf="form.get('descripcion').hasError('maxlength') && form.get('descripcion').touched">
            La respuesta debe tener como máximo 200 caracteres de longitud
        </span>
        </div>
        <div class="form-group checkbox">
            <label><input type="checkbox" formControlName="esCorrecto">Es Correcto</label>
        </div>
        <div class="row text-center col-md-12">
            <button type="submit" class="btn btn-primary ml-2 col-md-5">Guardar</button>
            <button type="button" class="btn btn-secondary ml-2 col-md-5" [routerLink]="['/actualizar-preguntas', idEtapa, idCurso, idLeccion, idPregunta]">Salir</button>
        </div>

    </form>
</div>