<div class="panel panel-default border p-4">
  <form [formGroup]="form" (ngSubmit)="actualizarPregunta()" class="m-3">
      <h1 class="text-center text-primary">Crear Pregunta</h1>
      <hr>

      <div class="form-group" [ngClass]="{'has-error': form.get('descripcion').errors && form.get('descripcion').touched}">
          <label for="descripcion" class="font-weight-bold">Contenido: </label>
          <textarea class="form-control" placeholder="Ingrese la descripción" formControlName="descripcion"></textarea>
          <span class="help-block" *ngIf="form.get('descripcion').hasError('required') && form.get('descripcion').touched">
            Contenido es requerido
          </span>
          <span class="help-block" *ngIf="form.get('descripcion').hasError('minlength') && form.get('descripcion').touched">
            La pregunta debe tener al menos 4 caracteres de longitud
          </span>
              <span class="help-block" *ngIf="form.get('descripcion').hasError('maxlength') && form.get('descripcion').touched">
            La pregunta debe tener como máximo 200 caracteres de longitud
        </span>
      </div>

      <section class="border rounded m-4" *ngIf="false">
        <h2 class="bold text-center p-2">Respuestas</h2>
        <hr>
        <div class="row m-4">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let respuesta of respuestas">
                            <td>{{ respuesta.id }}</td>
                            <td>{{ respuesta.descripcion}}</td>
                            <td> <button (click)="eliminarRespuesta(respuesta.id)">-</button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>           
        </div>
        <div class="row m-3">
            <button class="btn btn-success" (click)="registrarRespuestas()">Agregar Respuestas</button>
        </div>
    </section>

      <div class="row text-center col-md-12">
          <button type="submit" class="btn btn-primary col-md-3">Guardar</button>
          <button type="button" class="btn btn-secondary ml-2 col-md-3" [routerLink]="['/actualizar-leccion-material', idEtapa, idCurso, idLeccion]">Cancelar</button>
      </div>

  </form>
</div>